In [134]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.statespace.sarimax import SARIMAX
from datetime import timedelta
from IPython.display import display, HTML

In [115]:
import warnings

# Ignorar os avisos de FutureWarning e UserWarning
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=UserWarning)

In [ ]:
data = pd.read_excel('./rel_sil_y_ds.xlsx', parse_dates=['DS'], dtype={'CODPROD': str})
data['Y'] = data['Y'].replace(',', '.', regex=True).astype(float)

data = data.set_index('DS')


codigos = data.groupby('CODPROD')['Y'].sum().sort_values(ascending=False)

In [186]:
count = 1
for cod in codigos.index:

  df = data[data['CODPROD'] == cod]
  print(f"{df['DESCRICAO'][0]} - codigo: {cod} - contagem: {count}")
  count = count + 1

  df = df.resample('m').sum()

  train = df[:-2]

  if train.empty or cod in ['37522', '37786', '37324', '34491', '37318', '37326', '37325', '40808', '34234']:
    print("O DataFrame de treinamento est√° vazio. Verifique seus dados.")
  else:
  # Treinar o modelo SARIMA
    order = (1, 1, 1);  # Ordem dos componentes ARIMA
    seasonal_order = (1, 1, 1, 12);  # Ordem dos componentes sazonais
    model = SARIMAX(train, order=order, seasonal_order=seasonal_order);
    result = model.fit(disp=False);

    forecast_steps = 12
    forecast = result.get_forecast(steps=forecast_steps)
    forecast_index = pd.date_range(start=test.index[0], periods=forecast_steps, freq='M')

    forecast_df = pd.DataFrame({'Previsao': forecast.predicted_mean})
    df_2023 = df.loc['2023-01-01':'2023-12-31']

    test = df.iloc[-2:]

    soma_proj = forecast_df.sum().to_frame(name='Total').T
    soma_proj = pd.concat([forecast_df, soma_proj])

    soma_2023 = df_2023.sum().to_frame(name='Total').T
    soma_2023 = pd.concat([df_2023, soma_2023])

    html = f'<div style="display: flex; justify-content: space-evenly;">{soma_proj.to_html(index=True)}{soma_2023.to_html(index=True)}{test.to_html(index=True)}</div>'

    display(HTML(html))

    print('\n\n')

CABO FLEX 2.5MM AZ BOBINA SIL - codigo: 14522 - contagem: 1

CABO FLEX 2.5MM PT BOBINA SIL - codigo: 14513 - contagem: 2

CABO FLEX 2.5MM VM BOBINA - codigo: 25366 - contagem: 3

CABO FLEX 2.5MM VD BOBINA - codigo: 23420 - contagem: 4

CABO FLEX 1.5MM AZ BOBINA SIL - codigo: 23413 - contagem: 5

CABO FLEX 1.5MM PT BOBINA SIL - codigo: 14671 - contagem: 6

CABO FLEX 1.5MM AM BOBINA SIL - codigo: 30844 - contagem: 7

CABO FLEX 4MM PT BOBINA SIL - codigo: 20452 - contagem: 8

CABO FLEX 4MM AZ BOBINA SIL - codigo: 20451 - contagem: 9

CABO FLEX 2.5MM BC BOBINA SIL - codigo: 14515 - contagem: 10

CABO FLEX 1.5MM VM BOBINA SIL - codigo: 25171 - contagem: 11

CABO FLEX 1.5MM BC BOBINA SIL - codigo: 23419 - contagem: 12

CABO PP 3X2.5MM HEPR 0,6/1KV SIL - codigo: 20443 - contagem: 13

CABO FLEX 2.5MM AM BOBINA SIL - codigo: 14523 - contagem: 14

CABO FLEX HEPR 0.6/1KV 10MM PT SL - codigo: 23957 - contagem: 15

CABO FLEX HEPR 0.6/1KV 10MM AZ SIL - codigo: 20325 - contagem: 16

CABO PP 2X1.5MM PT SIL - codigo: 26130 - contagem: 17

CABO FLEX 1.5MM VD BOBINA SIL - codigo: 14672 - contagem: 18

CABO FLEX 4MM VD BOBINA SIL - codigo: 20454 - contagem: 19

CABO FLEX 6MM PT BOBINA SIL - codigo: 23421 - contagem: 20

CABO FLEX 6MM AZ BOBINA SIL - codigo: 23422 - contagem: 21

CABO RIGIDO HEPR 0.6/1KV 6MM PT - codigo: 20309 - contagem: 22

CABO FLEX HEPR 0.6/1KV 16MM PT SIL - codigo: 33799 - contagem: 23

CABO PP 4X2.5MM 0,6/1KV SIL - codigo: 20034 - contagem: 24

CABO FLEX 4MM VM BOBINA SIL - codigo: 25404 - contagem: 25

CABO FLEX HEPR 0.6/1KV 10MM VM SIL - codigo: 16165 - contagem: 26

CABO FLEX 6MM VM BOBINA SIL - codigo: 23423 - contagem: 27

CABO RIGIDO HEPR 0.6/1KV 6MM AZ - codigo: 20308 - contagem: 28

CABO FLEX 6MM VD BOBINA SIL - codigo: 23424 - contagem: 29

CABO PP 2X2.5MM PT 500V SIL - codigo: 32868 - contagem: 30

CABO FLEX 4MM BC BOBINA SIL - codigo: 20106 - contagem: 31

CABO FLEX 4MM VM BOBINA (EXCLUIDO) - codigo: 20453 - contagem: 32

CABO PP 2X2.5MM HEPR 0,6/1KV - codigo: 18378 - contagem: 33

CABO FLEX 1MM AZ SIL - codigo: 15844 - contagem: 34

CABO RIGIDO HEPR 0.6/1KV 10MM PT - codigo: 33231 - contagem: 35

CABO FLEX HEPR 0.6/1KV 10MM BC SIL - codigo: 18626 - contagem: 36

CABO PP 3X1.5MM SIL - codigo: 20008 - contagem: 37

CABO FLEX 1MM PT SIL - codigo: 33526 - contagem: 38

CABO FLEX 1MM VM SIL - codigo: 33529 - contagem: 39

CABO FLEX HEPR 0.6/1KV 6MM PT SIL - codigo: 18621 - contagem: 40

CABO PP 2X1.0 500V PT SIL - codigo: 34678 - contagem: 41

CABO FLEX HEPR 0.6/1KV 25MM PT SIL - codigo: 32866 - contagem: 42

CABO FLEX HEPR 0.6/1KV 10MM VD SIL - codigo: 20326 - contagem: 43

CABO FLEX HEPR 0.6/1KV 70MM PT SIL - codigo: 25596 - contagem: 44

CABO FLEX HEPR 0.6/1KV 35MM PT SIL - codigo: 32867 - contagem: 45

CABO PP 4X1MM SIL - codigo: 20032 - contagem: 46

CABO FLEX HEPR 0.6/1KV 50MM PT SIL - codigo: 33856 - contagem: 47

CABO FLEX 1MM BC SIL - codigo: 15850 - contagem: 48

CABO RIGIDO HEPR 0.6/1KV 10MM AZ - codigo: 33234 - contagem: 49

CABO PP 3X1MM SIL - codigo: 20006 - contagem: 50

CABO PP 3X4 PT SIL - codigo: 37977 - contagem: 51

/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/statespace/mlemodel.py:1234: RuntimeWarning: divide by zero encountered in divide
  np.inner(score_obs, score_obs) /
/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/statespace/mlemodel.py:1234: RuntimeWarning: invalid value encountered in divide
  np.inner(score_obs, score_obs) /

CABO FLEX HEPR 0.6/1KV 16MM AZ SIL - codigo: 31563 - contagem: 52

CABO RIGIDO HEPR 0.6/1KV 10MM VM - codigo: 33235 - contagem: 53

CABO FLEX HEPR 0.6/1KV 6MM AZ SIL - codigo: 37522 - contagem: 54
O DataFrame de treinamento est√° vazio. Verifique seus dados.
CABO FLEX HEPR 1KV 2.5MM VM SIL - codigo: 16141 - contagem: 55

CABO PP 500V 4X1.5MM PT SIL - codigo: 16533 - contagem: 56

CABO FLEX 6MM BC BOBINA SIL - codigo: 25367 - contagem: 57

CABO FLEX HEPR 0.6/1KV 6MM VD SIL - codigo: 24318 - contagem: 58

CABO RIGIDO HEPR 0.6/1KV 10MM BC - codigo: 33233 - contagem: 59

CABO FLEX 4MM AM BOBINA - codigo: 14690 - contagem: 60

CABO FLEX 1.5MM VM (EXCLUIDO) - codigo: 30843 - contagem: 61

CABO PP 2X4MM PT SIL - codigo: 33830 - contagem: 62

CABO FLEX HEPR 1KV 2.5MM BC SIL - codigo: 20406 - contagem: 63

CABO FLEX HEPR 1KV 2.5MM AZ SIL - codigo: 26129 - contagem: 64

CABO FLEX HEPR 0.6/1KV 120MM PT SIL - codigo: 33663 - contagem: 65

CABO FLEX 750V 10MM VM SIL - codigo: 14677 - contagem: 66

CABO PP 3X4MM 0,6/1KV SIL - codigo: 19237 - contagem: 67

CABO FLEX 1MM AM SIL - codigo: 33528 - contagem: 68

CABO FLEX HEPR 0.6/1KV 25MM AZ SIL - codigo: 20350 - contagem: 69

CABO FLEX HEPR 1KV 2.5MM VD SIL - codigo: 20407 - contagem: 70

CABO FLEX 750V 10MM AZ SIL - codigo: 20269 - contagem: 71

CABO PP 4X4MM 0,6/1KV HEPR SIL - codigo: 20444 - contagem: 72

CABO FLEX HEPR 0.6/1KV 16MM VM SIL - codigo: 20346 - contagem: 73

CABO COBRE NU 50MM 19FIOS - codigo: 20140 - contagem: 74

CABO FLEX HEPR 0.6/1KV 4MM VM SIL - codigo: 20382 - contagem: 75

CABO FLEX ATOXSIL 750V 2.5MM VD 100MM - codigo: 33854 - contagem: 76

CABO FLEX HEPR 0.6/1KV 25MM VM SIL - codigo: 20352 - contagem: 77

CABO FLEX 750V 10MM BC SIL - codigo: 20268 - contagem: 78

CABO FLEX HEPR 0.6/1KV 95MM PT SIL - codigo: 37786 - contagem: 79
O DataFrame de treinamento est√° vazio. Verifique seus dados.
CABO FLEX HEPR 1KV 2.5MM PT SIL - codigo: 34234 - contagem: 80
O DataFrame de treinamento est√° vazio. Verifique seus dados.
CABO RIGIDO HEPR 0.6/1KV 16MM VM - codigo: 20288 - contagem: 81

CABO FLEX HEPR 0.6/1KV 16MM VD SIL - codigo: 33800 - contagem: 82

CABO FLEX 750V 10MM VD SIL - codigo: 20264 - contagem: 83

CABO FLEX 1MM VD SIL - codigo: 37679 - contagem: 84

/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/statespace/mlemodel.py:1234: RuntimeWarning: divide by zero encountered in divide
  np.inner(score_obs, score_obs) /
/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/statespace/mlemodel.py:1234: RuntimeWarning: invalid value encountered in divide
  np.inner(score_obs, score_obs) /

CABO FLEX 2.5MM AZ PC 100MT SIL - codigo: 37312 - contagem: 85

CABO RIGIDO HEPR 0.6/1KV 16MM PT - codigo: 23958 - contagem: 86

CABO RIGIDO HEPR 0.6/1KV 6MM BC - codigo: 20311 - contagem: 87

CABO FLEX HEPR 0.6/1KV 35MM AZ SIL - codigo: 34158 - contagem: 88

CABO FLEX HEPR 0.6/1KV 4MM BC SIL - codigo: 16093 - contagem: 89

CABO FLEX HEPR 0.6/1KV 25MM VD SIL - codigo: 20351 - contagem: 90

CABO RIGIDO HEPR 0.6/1KV 6MM VM - codigo: 20310 - contagem: 91

CABO PP 4X6 PT SIL - codigo: 37978 - contagem: 92

CABO FLEX 1.5MM AM BOBINA (EXCLUIDO) - codigo: 25178 - contagem: 93

CABO FLEX ATOXSIL 750V 2.5MM AZ 100MT - codigo: 33853 - contagem: 94

CABO FLEX HEPR 0.6/1KV 6MM BC SIL - codigo: 24317 - contagem: 95

CABO FLEX 750V 10MM PT SIL - codigo: 34265 - contagem: 96

CABO PP 2X1MM SIL - codigo: 19993 - contagem: 97

CABO FLEX HEPR 0.6/1KV 4MM AZ SIL - codigo: 20383 - contagem: 98

CABO FLEX HEPR 0.6/1KV 150MM PT  - codigo: 23265 - contagem: 99

CABO FLEX 16MM AZ SIL - codigo: 20186 - contagem: 100

CABO FLEX HEPR 0.6/1KV 4MM VD SIL - codigo: 16092 - contagem: 101

CABO CONTROLE 5X4.00MM 1KV PT - codigo: 34908 - contagem: 102

CABO RIGIDO HEPR 0.6/1KV 25MM PT - codigo: 38238 - contagem: 103

CABO FLEX HEPR 0.6/1KV 6MM VM SIL - codigo: 37523 - contagem: 104

/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/statespace/mlemodel.py:1234: RuntimeWarning: divide by zero encountered in divide
  np.inner(score_obs, score_obs) /
/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/statespace/mlemodel.py:1234: RuntimeWarning: invalid value encountered in divide
  np.inner(score_obs, score_obs) /

CABO FLEX 2.5MM VD PC 100MT - codigo: 37324 - contagem: 105
O DataFrame de treinamento est√° vazio. Verifique seus dados.
CABO FLEX 2.5MM PT PC 100MT SIL - codigo: 37310 - contagem: 106

CABO FLEX 2.5MM VM PC 100MT - codigo: 37290 - contagem: 107

CABO CONTROLE 0.6/1 KV HEPR 5X2.5MM - codigo: 34236 - contagem: 108

CABO FLEX 10MM BC SIL - codigo: 24329 - contagem: 109

CABO FLEX HEPR 0.6/1KV 16MM BC SIL - codigo: 20347 - contagem: 110

CABO RIGIDO HEPR 0.6/1KV 16MM BC - codigo: 16164 - contagem: 111

CABO FLEX 1MM BC (EXCLUIDO) - codigo: 15854 - contagem: 112

CABO FLEX 1.5MM AZ PC 100MT SIL - codigo: 37322 - contagem: 113

CABO PP 1KV 4X1.5MM PT - codigo: 38834 - contagem: 114

CABO FLEX ATOXSIL 0.6/1 KV 90C 1.5MM AZ - codigo: 34354 - contagem: 115

CABO CONTROLE 5X1MM - codigo: 16557 - contagem: 116

CABO PP 3X6MM PT SIL - codigo: 38106 - contagem: 117

CABO FLEX ATOXSIL 0.6/1 KV 90C 1.5MM BC - codigo: 34353 - contagem: 118

CABO FLEX 10MM PT (EXCLUIDO) - codigo: 16143 - contagem: 119

CABO FLEX 1.5MM PT PC 100MT SIL - codigo: 37314 - contagem: 120

CABO FLEX 6MM AM BOBINA SIL - codigo: 27912 - contagem: 121

CABO FLEX ATOXSIL 0.6/1 KV 90C 2.5MM AZ - codigo: 34361 - contagem: 122

CABO FLEX 10MM AZ SIL - codigo: 24330 - contagem: 123

CABO PP 3X2.5MM (EXCLUIDO) - codigo: 34235 - contagem: 124

CABO FLEX HEPR 0.6/1KV 50MM AZ SIL - codigo: 20361 - contagem: 125

CABO FLEX ATOXSIL 0.6/1 KV 90C 4MM PT - codigo: 34364 - contagem: 126

CABO FLEX ATOXSIL 0.6/1 KV 90C 1.5MM PT - codigo: 34352 - contagem: 127

CABO FLEX SILNAX 0,6/1 KV HEPR 240MM PT - codigo: 33540 - contagem: 128

CABO RIGIDO HEPR 0.6/1KV 10MM VD - codigo: 35437 - contagem: 129

CABO FLEX 750V 25MM PT SIL - codigo: 35599 - contagem: 130

CABO FLEX HEPR 35MM VM SIL - codigo: 20359 - contagem: 131

CABO FLEX 1.5MM VM PC 100MT SIL - codigo: 37287 - contagem: 132

CABO FLEX ATOXSIL 0.6/1 KV 90C 2.5MM VD - codigo: 34363 - contagem: 133

CABO FLEX ATOXSIL 0.6/1 KV 90C 2.5MM VM - codigo: 34362 - contagem: 134

CABO FLEX ATOXSIL 0.6/1 KV 90C 4MM VM - codigo: 34430 - contagem: 135

CABO FLEX ATOXSIL 0.6/1 KV 90C 4MM AZ - codigo: 34429 - contagem: 136

CABO FLEX ATOXSIL 0.6/1 KV 90C 4MM VD - codigo: 34431 - contagem: 137
O DataFrame de treinamento est√° vazio. Verifique seus dados.
CABO FLEX HEPR 0.6/1KV 50MM VM SIL - codigo: 34490 - contagem: 138

CABO RIGIDO HEPR 0.6/1KV 25MM BC - codigo: 20286 - contagem: 139

CABO PP 3X1MM PC 100MT SIL - codigo: 20010 - contagem: 140

CABO FLEX ATOXSIL 0.6/1KV 50MM PT SIL - codigo: 34491 - contagem: 141
O DataFrame de treinamento est√° vazio. Verifique seus dados.
CABO FLEX ATOXSIL 0.6/1 KV 90C 6MM VD - codigo: 34436 - contagem: 142

CABO FLEX HEPR 0.6/1KV 50MM VD SIL - codigo: 34507 - contagem: 143

CABO BRASCHUMBO 2X1MM - codigo: 25629 - contagem: 144

CABO FLEX ATOXSIL 0.6/1 KV 90C 2.5MM PT - codigo: 34357 - contagem: 145

CABO PP HEPR 0.6/1KV 4X10MM PT - codigo: 40139 - contagem: 146

CABO FLEX 4MM AZ PC 100MT SIL - codigo: 37318 - contagem: 147
O DataFrame de treinamento est√° vazio. Verifique seus dados.
CABO CONTROLE BFC 1KV 5X4MM - codigo: 39576 - contagem: 148

CABO FLEX 1.5MM BC PC 100MT SIL - codigo: 37323 - contagem: 149

CABO FLEX HEPR 0.6/1KV 25MM BC SIL - codigo: 15897 - contagem: 150

CABO RIGIDO HEPR 0.6/1KV 16MM AZ - codigo: 20287 - contagem: 151

CABO RIGIDO HEPR 0.6/1KV 25MM VM - codigo: 20285 - contagem: 152

CABO PP PLANO 2X0.75MM SIL - codigo: 19992 - contagem: 153

CABO FLEX 4MM PT PC 100MT SIL - codigo: 37319 - contagem: 154

CABO RIGIDO HEPR 0.6/1KV 6MM VD - codigo: 20312 - contagem: 155

CABO RIGIDO 750V 10MM BC - codigo: 20370 - contagem: 156

CABO FLEX ATOXSIL 0.6/1 KV 90C 2.5MM BC - codigo: 34360 - contagem: 157

CABO FLEX ATOXSIL 0.6/1 KV 90C 4MM BC - codigo: 34365 - contagem: 158

CABO FLEX 1.5MM AM PC 100MT SIL - codigo: 37288 - contagem: 159

CABO RIGIDO HEPR 0.6/1KV 25MM AZ - codigo: 38239 - contagem: 160

CABO FLEX 2.5MM BC PC 100MT SIL - codigo: 37311 - contagem: 161

CABO SOLDAFLEX 35MM - codigo: 20130 - contagem: 162

CABO PP 4X6MM HEPR 0.6/1KV  - codigo: 19143 - contagem: 163

CABO FLEX ATOXSIL 0.6/1 KV 90C 1.5MM VD - codigo: 34356 - contagem: 164

CABO PP 3X10 PT SIL - codigo: 37979 - contagem: 165

CABO PP 3X16MM SIL - codigo: 35438 - contagem: 166

CABO PP HEPR 0.6/1KV 4X16MM PT SIL - codigo: 34275 - contagem: 167

CABO RIGIDO HEPR 0.6/1KV 50MM PT - codigo: 38435 - contagem: 168

CABO CONTROLE 5X6MM SIL - codigo: 41844 - contagem: 169

CABO RIGIDO 750V 6MM PT - codigo: 20375 - contagem: 170

CABO FLEX ATOXSIL 0.6/1 KV 90C 1.5MM VM - codigo: 34355 - contagem: 171

CABO FLEX HEPR 0.6/1KV 70MM AZ SIL - codigo: 38433 - contagem: 172

CABO FLEX 2.5MM AM PC 100MT SIL - codigo: 37313 - contagem: 173

CABO FLEX 4MM VM PC 100MT SIL - codigo: 37320 - contagem: 174

CABO FLEX 2.5MM CZ BOBINA SIL - codigo: 25188 - contagem: 175

CABO FLEX 4MM VD PC 100MT SIL - codigo: 37321 - contagem: 176

CABO FLEX 1.5MM VD PC100MT SIL - codigo: 37315 - contagem: 177

CABO FLEX ATOXSIL 0.6/1 KV 90C 6MM AZ - codigo: 34434 - contagem: 178

CABO CONTROLE 12X2.5MM - codigo: 2945 - contagem: 179

CABO FLEX ATOXSIL 750V 10MM AZUL - codigo: 40806 - contagem: 180

CABO FLEX HEPR 0.6/1KV 4X6MM PT SIL - codigo: 37441 - contagem: 181

CABO RIGIDO 750V 10MM VM - codigo: 25478 - contagem: 182

CABO RIGIDO 750V 6MM BC - codigo: 20377 - contagem: 183

CABO FLEX 6MM AZ PC 100MT SIL - codigo: 37326 - contagem: 184
O DataFrame de treinamento est√° vazio. Verifique seus dados.
CABO FLEX ATOXSIL 750V 6MM AZ - codigo: 38993 - contagem: 185

CABO FLEX ATOXSIL 750V 2.5MM AZ - codigo: 38997 - contagem: 186

CABO RIGIDO 750V 10MM AZ - codigo: 20371 - contagem: 187

CABO FLEX 6MM PT PC 100MT SIL - codigo: 37325 - contagem: 188
O DataFrame de treinamento est√° vazio. Verifique seus dados.
CABO FLEX 4MM BC PC 100MT SIL - codigo: 37317 - contagem: 189

CABO RIGIDO 750V 6MM VM - codigo: 20376 - contagem: 190

CABO FLEX 6MM VM PC 100MT SIL - codigo: 37285 - contagem: 191

/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/statespace/mlemodel.py:1234: RuntimeWarning: divide by zero encountered in divide
  np.inner(score_obs, score_obs) /
/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/statespace/mlemodel.py:1234: RuntimeWarning: invalid value encountered in divide
  np.inner(score_obs, score_obs) /

CABO RIGIDO 750V 6MM VD - codigo: 20378 - contagem: 192

CABO FLEX ATOXSIL 750V 6MM PT - codigo: 38995 - contagem: 193

CABO FLEX ATOXSIL 0.6/1 KV 90C 6MM PT - codigo: 34432 - contagem: 194

CABO SOLDAFLEX 50MM - codigo: 23825 - contagem: 195

CABO FLEX 6MM VD PC 100MT SIL - codigo: 37286 - contagem: 196

/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/statespace/mlemodel.py:1234: RuntimeWarning: divide by zero encountered in divide
  np.inner(score_obs, score_obs) /
/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/statespace/mlemodel.py:1234: RuntimeWarning: invalid value encountered in divide
  np.inner(score_obs, score_obs) /

CABO FLEX ATOXSIL 750V 2.5MM VM SIL100MT - codigo: 38189 - contagem: 197

CABO FLEX ATOXSIL 750V 2.5MM VD - codigo: 38998 - contagem: 198
O DataFrame de treinamento est√° vazio. Verifique seus dados.
CABO FLEX ATOXSIL 750V 6MM VD - codigo: 38994 - contagem: 199

CABO CONTROLE 20X1.5MM - codigo: 20079 - contagem: 200

CABO FLEX ATOXSIL 0.6/1 KV 90C 6MM VM - codigo: 34435 - contagem: 201

CABO CONTROLE 5X2.5MM - codigo: 16537 - contagem: 202
O DataFrame de treinamento est√° vazio. Verifique seus dados.
CABO FLEX ATOXSIL 750V 1.5MM AM 100MT PC - codigo: 38187 - contagem: 203

CABO SOLDAFLEX 95MM - codigo: 25628 - contagem: 204

CABO FLEX ATOXSIL 750V 1.5MM BC 100MT PC - codigo: 38185 - contagem: 205

CABO FLEX ATOXSIL 750V 2.5MM PT PC 100MT - codigo: 40383 - contagem: 206

CABO FLEX ATOXSIL 0.6/1 KV 90C 6MM BC - codigo: 34433 - contagem: 207

CABO FLEX ATOXSIL 750V 2.5MM AM PC100MT - codigo: 38190 - contagem: 208

CABO RIGIDO 750V 10MM VD - codigo: 25477 - contagem: 209

CABO RIGIDO HEPR 0.6/1KV 35MM VM - codigo: 20276 - contagem: 210

CABO FLEX ATOXSIL 750V 10MM VERDE - codigo: 40808 - contagem: 211
O DataFrame de treinamento est√° vazio. Verifique seus dados.
CABO FLEX ATOXSIL 750V 1.5MM AZ 100MT PC - codigo: 38186 - contagem: 212

CABO RIGIDO HEPR 0.6/1KV 35MM PT - codigo: 33827 - contagem: 213
O DataFrame de treinamento est√° vazio. Verifique seus dados.
CABO FLEX 6MM BC PC 100MT SIL - codigo: 37291 - contagem: 214

IndexError: too many indices for array: array is 0-dimensional, but 1 were indexed